<div class="content" role="main">
<div class="card-container">
  <label>name</label>
  <input type="text" name="productName" [(ngModel)]="product.name"><br>
  <!--  <label>description</label>-->
  <!--  <input type="text" name="productName" [(ngModel)]="product.description">-->

  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control" id="description" required [(ngModel)]="product.description" name="description"/>
  </div>

  <button [hidden]="add" (click)="addProduct()">add Product</button>
  <button [hidden]="edit" (click)="updateProduct()">Update Product</button>
</div>
<table id="products">
  <tr>
    <th>S/N</th>
    <th>Name</th>
    <th>Description</th>
    <!--    <th>Delete</th>-->
  </tr>
  <tr *ngFor="let product of products">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.description}}</td>
    <td><button (click)="setProductEdit(product)">Update</button></td>
    <td><button (click)="removeProduct(product)">Delete</button></td>
  </tr>
</table>

</div>


